[run]
source =
    src
omit =
    run_all_tests1.py
    main.py
    view_database.py
    src/database/mongodb.py

[report]
exclude_lines =
    pragma: no cover
    if __name__ == "__main__":

[html]
directory = htmlcov
